@model Tarun.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTimeStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ServiceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
