@model Tarun.Models.Report

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceRequestID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceRequestID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service_ProviderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service_ProviderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Service_RequesterID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Service_RequesterID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTimeStamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReportID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
