@model IEnumerable<Tarun.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h2>Reports</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRequestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service_ProviderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service_RequesterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service_ProviderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service_RequesterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
