@model IEnumerable<Tarun.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Contacts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceRequesterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceProviderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APT_House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceRequesterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProviderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APT_House)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
